In [ ]:
#1.Create a list and fetch all from the list and print these values.

In [5]:
# 2. Write a python program to print the length of a list.

a = ["python","java","R","SQL"]

for i in range(len(a)):
    print(a[i])

python
java
R
SQL

In [17]:
# 3.Write a python program to check if an element is present or not in the list.
# If present print “Item is present in this list” or print “Item is not present in this list”.

a = ["python","java","R","SQL"]
element = "C"

if element in a:
    print("Item is present in this list")
else:
    print("Item is not present in this list")

Item is not present in this list

In [21]:
# 4.Different way to clear a list

a = ["python","java","R","SQL"]

for i in a:
    a.clear()
    
print(a)

[]

In [22]:
# 4.1. Write a program to add all the elements in this list

a = ["python","java","R","SQL"]

b = ["HTML", "C++"]

c = ["C", "C#"]

add = a + b + c

print(add)

['python', 'java', 'R', 'SQL', 'HTML', 'C++', 'C', 'C#']

In [26]:
# 5. Copy a list in to another list

a = ["python","java","R","SQL"]

b = a

print(b)

['python', 'java', 'R', 'SQL']

In [30]:
# 6.Find the maximum and minimum number in a list

a = [5, 7, 4, 12, 24, 8, 9]

max_num = a[0]
for i in range(len(a)):
    if a[i]  > max_num:
        max_num = a[i]
print("maximum number in a list" , max_num)

maximum number in a list 24

In [31]:
a = [5, 7, 4, 12, 24, 8, 9]

min_num = a[0]
for i in range(len(a)):
    if a[i]  < min_num:
        min_num = a[i]
print("minimum number in a list" , min_num)

minimum number in a list 4

In [42]:
# 7. Write a program to multiply two lists and save them into another list. 

a = [8, 4, 6, 2]

b = [2, 8, 2, 6]

c = []

for i in range(len(a)):
    c.append(a[i] * b[i])

print("multiply two lists : ", c)

multiply two lists :  [16, 32, 12, 12]

In [ ]:
# 8..Create a tuple and fetch all the from the tuple and print these values.

In [47]:
# 9.Write a python program to print the length of a tuple.

a = ("python","java","R","SQL")

for i in range(len(a)):
    print(a[i])

python
java
R
SQL

In [48]:
# 10.Write a python program to add two different tuples.

a = ["python","java","R","SQL"]

b = [2, 8, 2, 6]

c = a + b

print(c)

['python', 'java', 'R', 'SQL', 2, 8, 2, 6]

In [ ]:
# 11.Create a dictionary and fetch all from the dictionary and print these values.

In [51]:
# 12. Get all the keys and values from a dictionary.

a = {"python" : 5 ,"java" : 8 ,"R" : 7 ,"SQL" : 1}

print(a)

{'python': 5, 'java': 8, 'R': 7, 'SQL': 1}

In [53]:
# 13. Add a new Item in a dictionary.

a = {"python" : 5 ,"java" : 8 ,"R" : 7 ,"SQL" : 1}

a["C++"] = 9

print(a)

{'python': 5, 'java': 8, 'R': 7, 'SQL': 1, 'C++': 9}

In [61]:
# 14.Merging two different dictionary.

a = {"python" : 5 ,"java" : 8 ,"R" : 7 ,"SQL" : 1}

b = {"HTML" : 1, "C++" :3}

marge = a , b

print("Merging two different dictionary : ", marge)

Merging two different dictionary :  ({'python': 5, 'java': 8, 'R': 7, 'SQL': 1}, {'HTML': 1, 'C++': 3})